<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205740403244-snclpj6n1qma8fvpv6qndfensejvvlgb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205740403244-snclpj6n1qma8fvpv6qndfensejvvlgb</string>
	<key>API_KEY</key>
	<string>AIzaSyDe4ODtB1xdFQGsde4OZJJ8L-6R8pbRbgw</string>
	<key>GCM_SENDER_ID</key>
	<string>205740403244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtbb</string>
	<key>PROJECT_ID</key>
	<string>chatappkurs</string>
	<key>STORAGE_BUCKET</key>
	<string>chatappkurs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205740403244:ios:458f6176cee4e853f83f89</string>
	<key>DATABASE_URL</key>
	<string>https://chatappkurs.firebaseio.com</string>
</dict>
</plist>